<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Task 7 Maven CI job for the Automated Alumni Mentorship Platform.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@5.7.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs><hudson.plugins.git.UserRemoteConfig><url>https://github.com/adrian-25/Automated-Alumni-Mentorship-Platform-Deployment.git</url></hudson.plugins.git.UserRemoteConfig></userRemoteConfigs>
    <branches><hudson.plugins.git.BranchSpec><name>*/main</name></hudson.plugins.git.BranchSpec></branches>
  </scm>
  <triggers><hudson.triggers.SCMTrigger><spec>H/5 * * * *</spec><ignorePostCommitHooks>false</ignorePostCommitHooks></hudson.triggers.SCMTrigger></triggers>
  <builders><hudson.tasks.Shell><command>cd app
mvn -B clean verify</command></hudson.tasks.Shell></builders>
  <publishers><hudson.tasks.ArtifactArchiver><artifacts>app/target/*.war</artifacts><allowEmptyArchive>false</allowEmptyArchive><onlyIfSuccessful>true</onlyIfSuccessful></hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver><testResults>app/target/surefire-reports/*.xml</testResults><keepLongStdio>false</keepLongStdio><healthScaleFactor>1.0</healthScaleFactor><allowEmptyResults>false</allowEmptyResults></hudson.tasks.junit.JUnitResultArchiver></publishers>
  <buildWrappers/>
</project>
